<html>
<head>
</head>

<body>
<h2> Welcome to Goatique </h2>
<a href="/merchants/">Merchant list</a>

<!--
add a form
take information from the form
do something with it
compare it with all prodcuts in database
by name Product.all(name: ) // @product.all <= iteration
-->

<form action="/home/index" method="GET">
  Search Products<input type="text" name="product[name]" />

  <button name="[button]">Submit</button>

  <a href="https://twitter.com/intent/tweet?screen_name=goatique" class="twitter-mention-button" data-size="large" data-related="goatique">Tweet to @goatique</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<form>
</body>
</html>
