<h2> LOGIN PAGE!!!! </h2>

<div>
 <form action="/home/login" method="POST">
   Username:<input type="text" name="pringle[pizza_name]"/>
   Password:<input type="password" name="pringle[pizza_pass]"/>

   <button>SUBMIT</button>


 </form >
</div>
