<h1>Shipping and Billing Information </h1>


<!--once we figure out how to validate these at the appropriate time, this will need render error messages added-->
<!--also default values if page is re-rendered-->

<p><form action="/orders/final_countdown" method="POST">
  <div><p>First Name</div>
    <div><input type="text" name=order[first_name] /></p></div>
  <div><p>Last Name</div>
    <div><input type="text" name=order[last_name] /></p></div>
  <div><p>Email</div>
    <div><input type="text" name=order[email] /></p></div>
  <div><p>Mailing Address</div>
    <div><input type="text" name=order[mailing_address] /></p></div>
  <div><p>Credit Number</div>
    <div><input type="text" name=order[card_number] /></p></div>
  <div><p>Expiration Date</div>
    <div><input type="text" name=order[expiration_date] /></p></div>

  <button name="[button]">Submit</button>

</form><p>
