<h1>THIS IS REAL TEXT </h1>



<form action= method="POST">
  <div><p>Purchaser Info</div>
    <div><input type="text" name="product[name]" /></p></div>
  <div><p>Name</div>
    <div><input type="text" name="product[description]" /></p></div>
  <div><p>Price</div>
    <div><input type="text" name="product[price]" /></p></div>
  <div><p>Categories</div>
    <div><input type="text" name="product[categories]" /></p></div>
  <div><p>Stock</div>
    <div><input type="text" name="product[quantity]" /></p></div>

  <button name="[button]">Submit</button>

<form>
