<html>
<head>
  <title>Sign up new merchant</title>
</head>

<body>
  <form method="POST" action="/merchants#create">

    Email: <input name="merchant[email]" />
    Username: <input name="merchant[user_name]" />
    Password: <input name="merchant[password]" />
    Password confirmation: <input name="merchant[password_confirmation]" />

    <input type="submit" />
  </form>
</body>
</html>
