<!-- Is this page something we are still using? -->


<h1>Edit Order</h1>


<div >

<h4> <%= @order_item.product.name %></h4>

<form action="/order_item/<%= @order_item.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT"/>
  <%= render :error_messages, obj: @order_item %>

  QTY <input type="text" name="mango[qty]" value="<%= @order_item.product_quantity %>"/>

  <input type="submit" />





</form>

</div>
