// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Body


.checkout {
  margin: 20px;
  line-height: 25px;
}

.goatpic {
  height: 300px;
  width: 300px;
  display: inline-block;
  position: relative;
  color: white;
  background-image: url('thirsty_goat_gif.gif');
  background-repeat: no-repeat;
}
