<html>
<head>
  <title>Edit <%=@product.name %></title>
</head>

<body>
  <form>
    <table>
      <tr><td>Name </td><td><input name="product[name]" value= "<%=@product.name %>"</td></tr>
    </table>
  </form>
</body>
</html>
