<!--create products  -->
<!--make form -->


<h2>Add New Product</h2>

<form action="/products/new" method="POST">

  <div><p>Product</div>
    <div><input type="text" name="product[name]" /></p></div>
  <div><p>Description</div>
    <div><input type="text" name="product[description]" /></p></div>
  <div><p>Price</div>
    <div><input type="text" name="product[price]" /></p></div>
  <div><p>Categories</div>
    <div><% Category.all.each do |cat| %>
       <input type="checkbox" name="product[categories][]" value=<%= cat.id %> ><%= cat.name %>
       <% end %>
    </div>
  <div><p>Stock</div>
    <div><input type="text" name="product[quantity]" /></p></div>
    <input type="hidden" name="product[merchant_id]" value = <%= @current_user.id %> />

  <button name="[button]">Submit</button>

<form>
